name: Release Image

on:
  push:
    branches:
      - main

jobs:
  release-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/koishi-registry:latest

      - name: Build and Push Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/koishi-registry:${{ github.ref_name }}
